* {
margin:0;
padding: 0;
box-sizing: 0;

}

.container_main_1{
    display: flex;
}

.container_main_2{
    display: flex;
} 

.container_titulos_1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 270px;
}

.container_titulos_2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 180px;
}

.container_inputs_1{
    display: flex;
    flex-direction: column;

}

.container_inputs_2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.frase_cf_1{
font-size: 18px;
justify-content: center;
margin-left: 300px;
margin-right: 300px;
}

.vermelho{
    color: rgb(215, 8, 8);
}

.verde{
    color: rgb(42, 178, 8);
}

.frase_cf_2{
    font-size: 18px;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}

.inputs{
    background-color: #D9D9D9;
    margin-left: 8px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.titulo_main_1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.titulo_main_2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

